header, nav, main, body {
    max-width: 64rem;
    margin: auto;
}


/* HEADER  */
header {
	display: flex;
	// flex-direction: column;
	align-items: center;
	background-color: lighten($primaryColor, 30%);

	h1 {
		font-size: 3rem;
		font-weight: 300;
		margin-bottom: 1rem;
	}
	
	img {
		padding: 1rem 0 .5rem 2%;
		display: block;
	}
	border-bottom:solid 1px $primaryColor;
	}
	
// end header







/* NAV  */
nav {
	background-color: $menuColor;

	ul {
		margin: 0 0 0 2w;
		padding: 0;
		// border-left: 1px solid rgba(0,0,0,0.2);

	}
	ul>li {
		float: left;
		list-style: none;
		border-left: 1px solid rgba(0,0,0,0.2);
	}

	ul li:last-child {
		border-right: 1px solid rgba(0,0,0,0.2);
	}

	ul li a { 
		display: block;
		border: none; // undo small screen
		border-right: 1px solid rgba(0,0,0,0.2);
		background: none;
		font-size: .9em;
		padding: .7em .9em;
		color: rgba(255,255,255,1);
		text-decoration: none;
		/*transition*/
		-webkit-transition: background 0.3s linear; 
		transition: background 0.3s linear;
		color: $menuTextColor;
	}

	ul li a:hover {
		background: darken($menuColor,5%);
	}
	
	
	ul li ul { /*rules for the sub menu items*/
		z-index:998;
		position: absolute;
		background-color: lighten($menuColor, 10%);
		left: -999em; /* pushes the menu way off to the side */
		width: 12em;
	}

 	ul li ul li { /* overides the float and line from the parent ul */
		width: 100%;
		border: none;
		border-top: solid 1px rgba(0,0,0,0.2);
	}

 	ul li:hover ul { /* this displays the menus as drop downs  */
		left: auto;
		margin-left: 0;
	}

	li.current-menu-item a {
		background-color: rgba(0,0,0,0.25);
	}
	
	
	
} // end nav
