/* HEADER  */
header {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: lighten($primaryColor, 30%);
	border-bottom:solid 1px $primaryColor;

	h1 {
		font-size: 2.5rem;
		font-weight: 300;
		margin-bottom: 1rem;
	}
	
	img {
		padding: 1rem 0 .5rem 2%;
		display: block;
	}

	#hamBTN {
		align-self: auto;
		margin-left: 17rem;
	}

	}
	
// end header

/* MAIN  */
main {
	
	h1 {
		font-size: 3rem;
		font-weight: 300;
		margin-bottom: 3rem;
	}

} // end main










/* NAV  */
nav {

	background-color: $menuColor;

	// #hamBTN {
	// 	display: none;
	// }


	// new stuff
	ul {
		margin-left: 2%;
		border-left: 1px solid rgba(0,0,0,0.2);

	}
	
	ul li {
		float: left;
	}

	ul li a { 
		display: block;
		border:none; // undo small screen
		border-right: 1px solid rgba(0,0,0,0.2);
		background: none;
		font-size: .9em;
		padding: .9em .9em;
		color: $menuColor;
		text-decoration: none;
		/*transition*/
		-webkit-transition: background 0.3s linear; 
		transition: background 0.3s linear;
		color: black;
	}
	ul li a:hover {background: darken($menuColor,5%);}
	
	
	ul li ul { /*rules for the sub menu items*/
		z-index:998;
		position: absolute;
		background-color: lighten($menuColor, 10%);
		left: -999em; /* pushes the menu way off to the side */
		width: 10em;
	}
 	ul li ul li { /* overides the float and line from the parent ul */
		float: none;
		border-right: none;
		border-top: solid 1px rgba(0,0,0,0.2);
	}

 	ul li:hover ul { /* this displays the menus as drop downs  */
		left: auto;
		margin-left: 0;
	}

	#primaryNAV {
		width: auto;
	}
	
	
	
} // end nav









.BTN {
	background-color: darken($primaryColor, 30%);
	color: white;
	border-radius: 50px;
	padding: 0 0.25rem;
	margin: 1rem;
	margin-left: 2rem;
	width: 96%;
	max-width: 20rem;
	font-family: $fontFamily;
	font-size: 2rem;
	border: none;
}