$primaryColor: gray;
$secondaryColor:#A9A9A9; 
$thirdColor:#696969;
$menuColor: #56F;
$accent: #ED600E;
$menuTextColor: rgba(255,255,255,0.9);

$gutter: 2%;


$fontFamily: 'Kanit', sans-serif;
$regularWeight: 300;
$heavyWeight: 700;